*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

header{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #778899;
  padding: 20px;
}

main{
  min-height: calc(100vh - 100px);
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

header .logo{
  height: 100%;
}

#genere{
  margin-bottom: 50px;
  padding: 6px 12px;
  border: 1px solid #778899;
  background-color: #778899;
  color: white;
  outline:none;
}

.container{
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-disco{
  height: 400px;
  width: 250px;
  padding: 20px;
  background-color: #778899;
  margin-bottom: 50px;
  text-align: center;
}

.copertina-album{
  width: 100%;
}

.titolo-album{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.artista, .anno{
  color: #F5F5F5;
}
